/**
GLOBALS
*/

html, body {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
}

span {
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
}

p {
  color: rgb(172, 172, 172);
}

h2 {
  display: flex;
  font-size: 45px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

h3 {
  display: flex;
  font-size: 32px;
  color: white;
  margin:0px;
  align-self:flex-start;
}

blockquote {
  display: flex;
  font-size: 36px;
  margin: 0;
  color: #1f2937;
  font-style:italic;
}

.header {
  display: flex;
  background-color: #1f2937;
  flex-direction: row;
  padding-bottom: 70px;
  margin: 0px;
  gap: 16px;
  color: white;
  justify-content: space-around;
}

.footer {
  background-color: #1f2937;
  display:flex;
  color: white;
  font-size: 20px;
  padding: 30px;
  justify-content: center;
  align-items:center;
}

.section {
  display: flex;
  align-items: center;
}

.first {
  background-color: #1f2937;
  justify-content: space-around;
  padding-bottom: 70px;
}

.image {
  width: 500px;
  height: 200px;
  margin-left: 50px;
}

.button {
  background-color: #3882f6;
  border: 8px;
  display: flex;
  font-size: 16px;
  padding: 12px;
  color: white;
  font-weight: 700px;
  border-radius: 10px;
  width: 120px;
  justify-content: center;

}

.content {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.content-two {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  align-content: center;
  background-color: white;
  width: 100%;
  gap: 30px;
  justify-content: space-around;
}

.teaser {
    flex-basis: 25%;
}
.teaser-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 3px solid blue;
    border-radius: 10px;
}

.second {
  justify-content: center;
  flex-direction: column;
  padding-bottom: 60px;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.third {
  display: flex;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.content-three {
  max-width: 800px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 40px;
}

#quote {
  text-align: right;
  font-size: 30px;
  font-weight: bold;
  color: black;
}


.fourth {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  background-color: rgb(253, 253, 253);
  padding-bottom: 80px;
  margin-bottom: 80px;
}

.content-four {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  background-color: #3882f6;
  width: 100%;
  margin-top:100px;
  max-width: 1200px;
  border-radius: 10px;
  height: 180px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.text {
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  color: black

}

.button-two {
  display:flex;
  justify-content:center;
  align-self:center;
  flex-direction: row;
  border-radius: 10px;
  border: 2px solid white;
  width: 150px;
  height: 40px;
  background-color: #3882f6;
}

.button-text {
  font-size: 16px;
  color: white;
  display:flex;
  align-self: center;
}

.text-two {
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  color: rgb(219, 217, 217);

}